.Page{
    /* height: 100vh; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #FFFADD;
    box-sizing: border-box;
}

.PageTop{
    height: 80px;
    padding: 0px 30px;
    box-sizing: border-box;
}

.PageContent{
    /* background-color: gray; */
    flex-grow: 1;
    box-sizing: border-box;
}